+b.FOOTER.footer
    +e.section--top
        +e.subscribe
            +e.H2.title.text--h4 Join our newsletter
            +e.P.text Get all the latest news about the future of&nbsp;App

            +e.FORM.form.form(action=env.reqEp method="post" novalidate data-success-message="The subscription has been successfully issued")
                +e.input
                    +input({
                        id: 'subscribe-email',
                        attrs: {
                            type: 'email',
                            name: 'email',
                            placeholder: 'your@email.com',
                            required: true,
                        },
                    })

                +e.button
                    +button({
                        modifier: 'arrow',
                        text: 'Send',
                    })(type="submit")

        +e.links
            +link-mask({
                link: env.socials.fb,
                text: 'On facebook'
            }).__link--big.text--h5(target="_blank")

            +link-mask({
                link: env.socials.ig,
                text: 'On instagram'
            }).__link--big.text--h5(target="_blank")

            +link-mask({
                link: env.socials.tw,
                text: 'On twitter'
            }).__link--big.text--h5(target="_blank")

            +link-mask({
                link: env.socials.yt,
                text: 'On youtube'
            }).__link--big.text--h5(target="_blank")

    +e.section--center
        +e.contacts
            +e.H2.title.text--h4 Get in&nbsp;touch

            +e.A.link--small(href=`mailto:${env.contacts.email}`)!= env.contacts.email

        +e.info.text--sm
            +e.A.link(href=env.privacyPolicyLink target="_blank") Privacy Policy &amp;&nbsp;Cookies
            +e.A.link(href=env.legalNoticeLink target="_blank") Legal Notice

    +e.section--bottom.text--sm
        +e.team Website by&nbsp;#[a(href="https://bytetown.ru/" target="_blank") ByteTown]
        +e.P.copy &copy;&nbsp;#[span.js-current-year #{new Date().getFullYear()}] Intimate.ai
