extends @layout/base

append vars
    - link.appleTouchIcon180x180 = `${baseDir}favicon/apple-touch-icon.png`
    - link.icon32x32 = `${baseDir}favicon/favicon-32x32.png`
    - link.icon192x192 = `${baseDir}favicon/android-chrome-192x192.png`
    - link.icon16x16 = `${baseDir}favicon/favicon-16x16.png`
    - link.manifest = `${baseDir}site.webmanifest`
    - link.maskIcon.href = `${baseDir}favicon/safari-pinned-tab.svg`
    - link.maskIcon.color = '#5bbad5'
    - link.icon = `${baseDir}favicon/favicon.ico`
    - meta.msapplicationTileColor = '#1e1e1e'
    - meta.msapplicationTileImage = `${baseDir}favicon/mstile-144x144.png`
    - meta.msapplicationConfig = `${baseDir}browserconfig.xml`
    - meta.themeColor = '#ffffff'
    - html.attrs.lang = 'en'

block head-end
    // Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HB7KG6');
    // End Google Tag Manager

block content
    // Google Tag Manager (noscript)
    noscript: iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5HB7KG6" height="0" width="0" style="display:none; visibility:hidden")
    // End Google Tag Manager (noscript)

    block page
